.DS_Store
*.swp
*~
.android/screenshots
**/reports
output.xml
*.log
tmp
run.sh
wallex
*.py[cod]
**/reports
output.xml
report.html
interactive_console_output.xml
**/reports
wallex
tmp
log.html
*.py[cod]
run.sh
.idea/
.vscode/
.venv/
venv/
server/venv
__pycache__
server/logs/*