<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="{{ url_for('static', path='/style/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/style/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="content" class="container">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>